<% content_for :page_title do %>
  <%= Spree.t(:user_import, scope: [:datashift_import, :import_headings, :user_import_headings]) %>
<% end %>

<% content_for :page_actions do %>
  <%= button_link_to Spree.t(:clear_users, scope: [:datashift_import, :import_headings, :user_import_headings]), reset_admin_user_imports_path, { class: "btn-success", icon: 'trash', method: :delete, data: { confirm: Spree.t(:user_reset_confirmation, scope: [:datashift_import, :import_headings, :user_import_headings]) } } if Spree::Config.allow_datashift_reset %>
  <%= button_link_to Spree.t(:import_users, scope: [:datashift_import, :import_headings, :user_import_headings]), sample_import_admin_user_imports_path, { class: "btn-success", icon: 'add' } %>
<% end %>

<% content_for :sidebar do %>
  <%= render 'user_import_sidebar_tabs' %>
<% end %>

<% if Spree::Config.allow_datashift_reset %>
  <div><strong>Note - </strong>In development mode, For better verification we recommend you to first <%= link_to Spree.t(:clear_user_data, scope: [:datashift_import, :import_headings, :user_import_headings]), reset_admin_user_imports_path, data: { confirm: Spree.t(:user_reset_confirmation, scope: [:datashift_import, :import_headings, :user_import_headings]) }, method: :delete %> and then try to <%= link_to Spree.t(:import_users, scope: [:datashift_import, :import_headings, :user_import_headings]), sample_import_admin_user_imports_path %>.</div>

  <br>
  <br>
<% end %>

<% if @csv_table %>
  <h3 class="text-center">Sample CSV Data</h3>
  <%= render 'spree/admin/shared/sample_csv_data', csv_table: @csv_table %>
<% end %>
