<% content_for :page_title do %>
  <%= Spree.t(:order_import, scope: [:datashift_import, :import_headings, :order_import_headings]) %>
<% end %>

<% content_for :page_actions do %>
  <%= button_link_to Spree.t(:clear_orders, scope: [:datashift_import, :import_headings, :order_import_headings]), reset_admin_order_imports_path, { class: "btn-success", icon: 'trash', method: :delete, data: { confirm: Spree.t(:order_reset_confirmation, scope: [:datashift_import, :import_headings, :order_import_headings]) } } if Spree::Config.allow_datashift_reset %>
  <%= button_link_to Spree.t(:import_orders, scope: [:datashift_import, :import_headings, :order_import_headings]), sample_import_admin_order_imports_path, { class: "btn-success", icon: 'add' } %>
<% end %>

<% content_for :sidebar do %>
  <%= render 'order_imports_sidebar_tabs' %>
<% end %>


<% if Spree::Config.allow_datashift_reset %>
  <div>
    <strong>Note - </strong>In development mode, For better verification we recommend you to first <%= link_to Spree.t(:clear_order_data, scope: [:datashift_import, :import_headings, :order_import_headings]), reset_admin_order_imports_path, method: :delete, data: { confirm: Spree.t(:order_reset_confirmation, scope: [:datashift_import, :import_headings, :order_import_headings]) } %> and then try to <%= link_to Spree.t(:import_orders, scope: [:datashift_import, :import_headings, :order_import_headings]), sample_import_admin_order_imports_path %>.
  </div>

  <br><br>
<% end %>

<% if @csv_table %>
  <h3 class="text-center">Sample CSV Data</h3>
  <%= render 'spree/admin/shared/sample_csv_data', csv_table: @csv_table %>
<% end %>
