<% content_for :page_title do %>
  <%= Spree.t(:product_import, scope: [:datashift_import, :import_headings, :product_import_headings]) %>
<% end %>

<% content_for :page_actions do %>
  <%= button_link_to Spree.t(:clear_products, scope: [:datashift_import, :import_headings, :product_import_headings]), reset_admin_product_imports_path, { class: "btn-success", icon: 'trash', method: :delete, data: { confirm: Spree.t(:product_reset_confirmation, scope: [:datashift_import, :import_headings, :product_import_headings]) } } %>
  <%= button_link_to Spree.t(:import_products, scope: [:datashift_import, :import_headings, :product_import_headings]), sample_import_admin_product_imports_path, { class: "btn-success", icon: 'add' } %>
<% end %>

<div>
  <strong>Note - </strong>In development mode, For better verifcation we recommend you to first <%= link_to Spree.t(:clear_product_data, scope: [:datashift_import, :import_headings, :product_import_headings]), reset_admin_product_imports_path, method: :delete, data: { confirm: Spree.t(:product_reset_confirmation, scope: [:datashift_import, :import_headings, :product_import_headings]) } %> and then try to <%= link_to Spree.t(:import_products, scope: [:datashift_import, :import_headings, :product_import_headings]), sample_import_admin_product_imports_path %>.
</div>

<br><br>

<div>
  <%= link_to Spree.t(:verify_products, scope: [:datashift_import, :import_headings, :product_import_headings], product_count: Spree::Product.count), admin_products_path %>
</div>

<div>
  <%= link_to "Verify Option Types", admin_option_types_path %>
</div>

<div>
  <%= link_to "Verify Option Values", admin_option_types_path %>
</div>

<div>
  <%= link_to "Verify Shipping Categories", admin_shipping_categories_path %>
</div>

<div>
  <%= link_to "Verify Tax Categories", admin_tax_categories_path %>
</div>

<div>
  <%= link_to "Verify Stock Locations", admin_stock_locations_path %>
</div>

<div>
  <%= link_to "Verify Product Properties", admin_properties_path %>
</div>

<div>
  <%= link_to "Verify Taxonomies", admin_taxonomies_path %>
</div>

<div>
  <%= link_to "Verify Taxons", admin_taxons_path %>
</div>


<% if @csv_table %>
  <h3 class="text-center">Sample CSV Data</h3>
  <%= render 'spree/admin/shared/sample_csv_data', csv_table: @csv_table %>
<% end %>

