<h1>Product Import Demo using <a href="https://github.com/autotelik/datashift_spree" target="_blank">datashift_spree</a></h1>


As its a demo, <%= link_to "Clear Product Related Data", reset_admin_product_imports_path %> to have blank slate
and verify the data you get after <%= link_to "Sample Import", sample_import_admin_product_imports_path %>

<br />
<br />
<%= link_to "Verify Option Types", admin_option_types_path %>
<br />
<%= link_to "Verify Option Values", admin_option_types_path %>
<br />
<%= link_to "Verify Shipping Categories", admin_shipping_categories_path %>
<br />
<%= link_to "Verify Tax Categories", admin_tax_categories_path %>
<br />
<%= link_to "Verify Stock Movements", admin_stock_locations_path %>
<br />
<%= link_to "Verify Products and their Variants, Images,Stocks, Properties", admin_products_path %>
<br />
<%= link_to "Verify Product Properties", admin_properties_path %>
<br />
<%= link_to "Verify Taxonomies", admin_taxonomies_path %>
<br />
<%= link_to "Verify Taxons", admin_taxons_path %>
